<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>
<p>
<%= link_to "Create new list", new_list_path %>

<%= cl_image_tag("qjnn4bku487wmd31rlqw",
      width: 400, height: 300, crop: :fill) %>
<br>
<%= cl_image_tag("teacp5rlifygdkcshojf",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

